.equipageContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  position: relative;
  &--top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    @media screen and (max-width: 1100px) {
      flex-flow: row wrap;
    }
  }
  &--bottom {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    @media screen and (max-width: 1100px) {
      flex-flow: row wrap-reverse;
    }
  }
  @media screen and (max-width: 1100px) {
    height: initial;
  }
}
