.equipageCard {
  opacity: 0;

  &Container {
    position: relative;
    transition: transform 0.3s ease-in-out;
    border: 2px solid #ffcc00ff;
    border-radius: 10px;

    &--title {
      bottom: 0;
      margin: 0;
      color: white;
      font-family: "AlexBrush", Georgia, "Times New Roman", Times, serif;
      font-size: 3rem;
      position: absolute;
      text-align: center;
      width: 100%;
    }
    &--img {
      max-width: 140px;
      margin: 10px;
      border-radius: 10px;
      -webkit-box-shadow: -4px 14px 29px 7px rgba(255, 184, 88, 0.26);
      box-shadow: -4px 14px 29px 7px rgba(255, 184, 88, 0.26);
    }
  }
  &Container:hover {
    transform: scale(1.1);
  }
}
