.homeContainer {
  font-family: "Sady", Georgia, "Times New Roman", Times, serif;
  @media screen and (max-width: 580px) {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  &__title {
    animation: open-animation 1.2s ease-in-out;
    font-size: 3rem;
    margin: 20px 20px;
    width: 300px;
    height: 200px;
    @media screen and (max-width: 580px) {
      width: 200px;
    }
    img {
      object-fit: contain;
      width: 100%;
    }
  }
  &__news {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
    @media screen and (max-width: 1080px) {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }
    @media screen and (max-width: 580px) {
      iframe {
        width: 300px;
      }
    }
    img {
      background-color: aliceblue;
      width: 400px;
      border: 2px solid rgb(229, 224, 124);
      @media screen and (max-width: 580px) {
        width: 300px;
      }
    }
  }
  &__pitch {
    width: 70%;
    margin: 100px auto;
  }
}
