.modal {
  background-color: rgba(155, 155, 155, 0.54);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  @media screen and (max-width: 1200px) {
    top: 0;
    position: fixed;
    margin: auto;
    height: 100vh;
  }
  &__container {
    background-color: white;
    border: 2px solid grey;
    border-radius: 50px;
    font-family: "Sady", Georgia, "Times New Roman", Times, serif;
    position: relative;
    height: 80%;
    width: 60%;
    z-index: 50;
    @media screen and (max-width: 1200px) {
      width: 80%;
      height: 80vh;
      justify-content: start;
      align-items: center;
    }
    &__content {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      width: 100%;
      &--bounty {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        margin: 50px auto;
        width: 40%;
        @media screen and (max-width: 1200px) {
          width: auto;
          margin: 10px auto;
        }
        img {
          max-width: 200px;
          @media screen and (max-width: 580px) {
            margin-top: 30px;
            max-width: 100px;
          }
          @media screen and (max-width: 1200px) {
            margin-top: 30px;
            max-width: 130px;
          }
        }
        p {
          font-size: 1.5rem;
          margin: 0;
        }
      }
      &--info {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: flex-start;
        height: 100%;
        width: 60%;
        @media screen and (max-width: 1200px) {
          width: 100%;
          height: auto;
          justify-content: start;
          align-items: center;
        }
        h1 {
          text-align: center;
          width: 100%;
          margin: 0;
        }
        button {
          margin: 50px auto;
          text-align: center;
          width: 100px;
          @media screen and (max-width: 1200px) {
            margin: 10px auto;
            text-align: center;
          }
        }
        &--text {
          margin-right: 50px;
          @media screen and (max-width: 1200px) {
            margin: 10px;
            text-align: center;
          }
        }
      }
      @media screen and (max-width: 1200px) {
        flex-flow: column nowrap;
      }
    }
    &--bg {
      object-fit: contain;
      object-position: 100% 0%;
      opacity: 0.1;
      position: absolute;
      width: 100%;
      height: 100%;

      @media screen and (max-width: 580px) {
        display: none;
      }
    }
  }
}
