.storyContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 50px;
  font-family: "Sady", Arial, Helvetica, sans-serif;

  &--title {
    animation: open-animation 1.2s ease-in-out;
    max-width: 350px;
  }
  &__content {
    &--article {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      background-color: rgba(245, 245, 245, 0.677);
      border-radius: 15px;
      margin: 50px auto;
      img {
        max-width: 350px;
        margin: 50px;
      }
      &--text {
        margin: 50px;
      }
    }
  }
  &__best {
    border-radius: 20px;
    background-color: rgba(245, 245, 245, 0.677);
    max-width: 1000px;
    overflow: hidden;
    padding: 0 20px;
    position: relative;
    hr {
      font-weight: 700;
      position: absolute;
      left: 20px;
    }

    &--youtube {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;
      margin: 50px auto 0 auto;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        background-color: transparent;
        width: 0px;
        height: 8px;
      }
    }
    &--youtube:hover {
      &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }
}
