.storyContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 50px;

  &--title {
    animation: open-animation 1.2s ease-in-out;
    max-width: 350px;
  }
}
