.homeContainer {
  position: relative;
  &--bgHome {
    position: absolute;
    z-index: -25;
    opacity: 0.2;
    img {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      object-position: right bottom;
      @include BGAnimation;
      position: fixed;
    }
  }
}
