.homeContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  justify-content: start;
  position: relative;
  &__Content {
    margin-left: 250px;
  }
  &--bgHome {
    position: absolute;
    z-index: -25;
    opacity: 0.2;
    img {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      object-position: right bottom;
      @include BGAnimation;
      position: fixed;
    }
  }
}
